<div id="app-root" infiniteScroll [infiniteScrollThrottle]="100" [infiniteScrollDistance]="2" (scrolled)="onScroll()" [scrollWindow]="true" [infiniteScrollDisabled]="isFullListDisplayed">

   <mat-card class="card" *ngFor="let article of reposotries">
    <mat-card-header>
      <div mat-card-avatar class="card-avatar" [ngStyle]="{'background-image': 'url('+ article?.owner.avatar_url +')'}">
      </div>
      <mat-card-title>{{article?.name}}</mat-card-title>
      <mat-card-subtitle>
        {{article?.description}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-stroked-button color="primary">Stars : {{article?.stargazers_count}} </button>
        <button mat-stroked-button color="primary">Issues : {{article?.open_issues_count}} </button>
      <span class="owner">Submitted <b>{{ dateDiffIndays(today, parse(article?.created_at)) }} </b> days ago, by <b> {{ article?.owner.login }} </b></span>
    </mat-card-actions>
  </mat-card>
</div>
